# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "BpRLPyof4lm2X/i6wKP3fC3ZNWfbo8ekPtR1zyntGkXL8k7BNlxuENSs2JVVY1deEJwOO+RyssiEJob0cDKXKIezm0JtJbjbJsOPhNxBNwW6uae9n274M+DMVPgvcZMVP6AHYVILKCocX4K58g4De3FNN25oR3eIn8+N8JYElG392eurfkKnQVVVmT95/QGryCwhuBBSOjeqE22iDanWUpxIbNCQiDn3QPe5MGfD8queX8MoEfUd4iRXgQTnHfDPMUGEIvpE/56eqpr1Ef8b65+ORld+vJ5yYvb4Zw6cMWCXg242UTYfitRdm6zHp6sGztVnj6z/aHYo8jci0Fx6RKD/OyNO7/0h883LJCDuOIKaAmEmWZEecIVd6gHnpZzHSo6f9rw0xP6RjSrEcPYIS09FFJ+rwlwA/4c90nVtj76kq4hTRViKsPq1MTQgJEcBKknSLw4MVrdwm0BglGGbyI0nvdvLo2LE6+y6zOWR2fWt5mCCsiDePCnz05+thLnpslioHPSmSQPzBKhs1/PPbWVxrgyAPJVNrbpwj6cHci20j6qUTvy5o80Sx6GoMC6xEfbnnfMuQz7zSHA0e++TrnzTdHJEiAxyFH/edoUsoRhxFq9kXW118xgubc75TIrNNx5eHBLGdVFFb62aAEq45u8f/h670iNsipvEy+MsNmI="


before_install:
    - brew remove --force $(brew list)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH

      conda config --set show_channel_urls true
      conda update --yes conda
      conda install --yes conda-build jinja2 anaconda-client
      conda config --add channels conda-forge
      

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
